/ - if @search != ' '
#results.container2
  =image_tag asset_path('x.png'), :class => 'close'
  %h3
    Results
  .height
    - @results.each do |r|
      - case r.class.name
        - when 'User'
          = r.zip
          = r.name
          = r.address
        - when 'CoolingCenters'
          - p 'cooling centers! %%%%%%%%%%%^^^^^^^^^^^&&&&&&&<<<<<<<<'
          %h4.result-name
            = r.name
          Address:
          = r.address
          %br
          City:
          = r.city
          %br
          State:
          = r.state
          %br
          Center Type:
          = r.center_type
          %br
          %br