- if current_user
  %h3 My Account
  .height
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      .row
        .personal.col-md-4#contact-info 
          Personal Information
          .account-box
            = f.label :name
            = f.text_field :name, value: current_user.name, id: 'name_field', :required => true
            %br
            = f.label :email
            = f.email_field :email, value: current_user.email, id: 'email_field'
            %br
            = f.label :phone
            = f.text_field :phone, value: current_user.phone, id: 'phone_field'
            %br
            = f.label :address
            = f.text_field :address, value: current_user.address, id: 'address_field', :required => true
            %br
            = f.label :address2
            = f.text_field :address2, value: current_user.address2
            %br
            = f.label :city
            = f.text_field :city, value: current_user.city, id: 'city_field', value: "San Francisco"
            %br
            = f.label :state
            = select_tag(options_for_select([['NY'], ['CA']]))
            / # = f.text_field :state, value: current_user.state, id: 'state_field', :required => true
            %br
            = f.label :zip
            = f.text_field :zip, value: current_user.zip, id: 'zip_field', :required => true
            %br
            = f.check_box :church, {:checked=>current_user.church}
            = f.label :church
            %br
            = f.check_box :school, {:checked=>current_user.school}
            = f.label :school
        .personal.col-md-4#certifications 
          Certifications
          .account-box
            = f.check_box :cert, {:checked=>current_user.cert}
            = f.label(:cert, 'CERT')
            %br
            = f.check_box :nert, {:checked=>current_user.nert}
            = f.label(:nert, 'NERT')
            %br
            = f.check_box :cpr, {:checked=>current_user.cpr}
            = f.label(:cpr, 'CPR')
            %br
            = f.check_box :safe, {:checked=>current_user.safe}
            = f.label(:safe, 'SAFE')
            %br
            = f.check_box :firstaid, {:checked=>current_user.firstaid}
            = f.label(:firstaid, 'First Aid')
            %br
            = f.check_box :firstresponder, {:checked=>current_user.firstresponder}
            = f.label(:firstresponder, 'First Responder')
        .personal.col-md-4#user-buildings 
          Certificated Skills - Trade
          .account-box
            = f.check_box :inspector,{:checked=>current_user.inspector}
            = f.label(:inspector, 'Building Inspector')
            %br
            = f.check_box :carpenter,{:checked=>current_user.carpenter}
            = f.label :carpenter
            %br
            = f.check_box :commercial,{:checked=>current_user.commercial}
            = f.label(:commercial, 'Commercial License')
            %br
            = f.check_box :electrician,{:checked=>current_user.electrician}
            = f.label 'Electrician'
            %br
            = f.check_box :contractor,{:checked=>current_user.contractor}
            = f.label(:contractor, 'General Contractor')
            %br
            = f.check_box :operator,{:checked=>current_user.operator}
            = f.label(:operator, 'Heavy Equipment Operator')
            %br
            = f.check_box :plumber,{:checked=>current_user.plumber}
            = f.label :plumber
            %br
            = f.check_box :engineer,{:checked=>current_user.engineer}
            = f.label(:engineer,'Structural Engineer')
      %br
      .personal#user-resources 
        Resources
        .account-box.row
          .col-md-3
            Facilities
            %br
            = f.check_box :generator, {:checked=>current_user.generator}
            = f.label(:generator,'Back-up Generator Facility')
            %br
            = f.check_box :kitchen, {:checked=>current_user.kitchen}
            = f.label(:kitchen,'Commercial Kitchen')
            %br
            = f.check_box :overnight, {:checked=>current_user.overnight}
            = f.label(:overnight,'Overnight Shelter')
            %br
            = f.check_box :underground, {:checked=>current_user.underground}
            = f.label(:underground,'Underground Shelter')
            %br
          .col-md-3
            Medical
            %br
            = f.check_box :defibrillation, {:checked=>current_user.defibrillation}
            = f.select :defibrillation_q, ((0..30).map {|i| [i,i] } << ["No limit",nil])
            = f.label 'Defibrillator'
            %br
            = f.check_box :emergency, {:checked=>current_user.emergency}
            = f.select :emergency_q, ((0..30).map {|i| [i,i] } << ["No limit",nil])
            = f.label(:emergency,'Emergency Kit') 
            %br
            = f.check_box :oxygen, {:checked=>current_user.oxygen}
            = f.select :oxygen_q, ((0..30).map {|i| [i,i] } << ["No limit",nil])
            = f.label :oxygen
            %br
            = f.check_box :wheelchair, {:checked=>current_user.wheelchair}
            = f.select :wheelchair_q, ((0..30).map {|i| [i,i] } << ["No limit",nil])
            = f.label 'Wheelchair'
            %br
          .col-md-3
            Heavy Equipment
            %br
            = f.check_box :backhoe, {:checked=>current_user.backhoe}
            = f.select :backhoe_q, ((0..30).map {|i| [i,i] } << ["No limit",nil])
            = f.label(:backhoe,'Backhoe')
            %br
            = f.check_box :bulldozer, {:checked=>current_user.bulldozer}
            = f.select :bulldozer_q, ((0..30).map {|i| [i,i] } << ["No limit",nil])
            = f.label :bulldozer
            %br
            = f.check_box :dumptruck, {:checked=>current_user.dumptruck}
            = f.select :dumptruck_q, ((0..30).map {|i| [i,i] } << ["No limit",nil])
            = f.label(:dumptruck,'Dump Truck')
            %br
            = f.check_box :excavator, {:checked=>current_user.excavator}
            = f.select :excavator_q, ((0..30).map {|i| [i,i] } << ["No limit",nil])
            = f.label :excavator
            %br
            = f.check_box :forklift, {:checked=>current_user.forklift}
            = f.select :forklift_q, ((0..30).map {|i| [i,i] } << ["No limit",nil])
            = f.label(:forklift, 'Fork Lift')
            %br
            = f.check_box :frontloader, {:checked=>current_user.frontloader}
            = f.select :frontloader_q, ((0..30).map {|i| [i,i] } << ["No limit",nil])
            = f.label(:frontloader, 'Front Loader')
            %br
            = f.check_box :jackhammer, {:checked=>current_user.jackhammer}
            = f.select :jackhammer_q, ((0..30).map {|i| [i,i] } << ["No limit",nil])
            = f.label(:jackhammer, 'Jack Hammer')
            %br
            = f.check_box :reclaimer, {:checked=>current_user.reclaimer}
            = f.select :reclaimer_q, ((0..30).map {|i| [i,i] } << ["No limit",nil])
            = f.label :reclaimer
            %br
            = f.check_box :tractor, {:checked=>current_user.tractor}
            = f.select :tractor_q, ((0..30).map {|i| [i,i] } << ["No limit",nil])
            = f.label :tractor
            %br
            = f.check_box :trencher, {:checked=>current_user.trencher}
            = f.select :trencher_q, ((0..30).map {|i| [i,i] } << ["No limit",nil])
            = f.label :trencher
            %br

          .col-md-3
            Light Equipment
            %br
            = f.check_box :axe, {:checked=>current_user.axe}
            = f.select :axe_q, ((0..30).map {|i| [i,i] } << ["No limit",nil])
            = f.label :axe
            %br
            = f.check_box :drill, {:checked=>current_user.drill}
            = f.select :drill_q, ((0..30).map {|i| [i,i] } << ["No limit",nil])
            = f.label :drill
            %br
            = f.check_box :fuel, {:checked=>current_user.fuel}
            = f.select :fuel_q, ((0..30).map {|i| [i,i] } << ["No limit",nil])
            = f.label :fuel
            %br
            = f.check_box :goggles, {:checked=>current_user.goggles}
            = f.select :goggles_q, ((0..30).map {|i| [i,i] } << ["No limit",nil])
            = f.label :goggles
            %br
            = f.check_box :hammer, {:checked=>current_user.hammer}
            = f.select :hammer_q, ((0..30).map {|i| [i,i] } << ["No limit",nil])
            = f.label :hammer
            %br
            = f.check_box :shovel, {:checked=>current_user.shovel}
            = f.select :shovel_q, ((0..30).map {|i| [i,i] } << ["No limit",nil])
            = f.label :shovel
            %br
        #update
          = f.submit 'UPDATE'