- if current_user
  %h3 My Account
  .height
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      .row
        .personal.col-md-3#contact-info 
          Personal Information
          .account-box
            = f.label :name
            = f.text_field :name, value: current_user.name, id: 'name_field', :required => true
            %br
            = f.label :email
            = f.email_field :email, value: current_user.email, id: 'email_field'
            %br
            = f.label :phone
            = f.text_field :phone, value: current_user.phone, id: 'phone_field'
            %br
            = f.label :address
            = f.text_field :address, value: current_user.address, id: 'address_field', :required => true
            %br
            = f.label :address2
            = f.text_field :address2, value: current_user.address2
            %br
            = f.label :city
            = f.text_field :city, value: current_user.city, id: 'city_field', value: "San Francisco"
            %br
            = f.label :state
            = select_tag(options_for_select([['NY'], ['CA']]))
            %br
            = f.label :zip
            = f.text_field :zip, value: current_user.zip, id: 'zip_field', :required => true
            %br
        .personal.col-md-3#person-info 
          Are you a:
          .account-box
            = f.check_box :business, {:checked=>current_user.business}
            = f.label :business
            %br
            = f.check_box :faith, {:checked=>current_user.faith}
            = f.label(:faith, 'Faith Based Organization')
            %br
            = f.check_box :gov, {:checked=>current_user.gov}
            = f.label(:gov, 'Government Entity')
            %br
            = f.check_box :individual, {:checked=>current_user.individual}
            = f.label(:individual, 'Individual')
            %br
            = f.check_box :ngo, {:checked=>current_user.ngo}
            = f.label(:ngo, 'NGO')
            %br
            %br
          Are you:
          .account-box
            = f.check_box :open, {:checked=>current_user.open}
            = f.label :open
            %br
            = f.check_box :closed, {:checked=>current_user.closed}
            = f.label :closed
        .personal.col-md-3#certifications 
          Certifications
          .account-box
            = f.check_box :cert, {:checked=>current_user.cert}
            = f.label(:cert, 'CERT')
            %br
            = f.check_box :nert, {:checked=>current_user.nert}
            = f.label(:nert, 'NERT')
            %br
            = f.check_box :cpr, {:checked=>current_user.cpr}
            = f.label(:cpr, 'CPR')
            %br
            = f.check_box :safe, {:checked=>current_user.safe}
            = f.label(:safe, 'SAFE')
            %br
            = f.check_box :firstaid, {:checked=>current_user.firstaid}
            = f.label(:firstaid, 'First Aid')
            %br
            = f.check_box :firstresponder, {:checked=>current_user.firstresponder}
            = f.label(:firstresponder, 'First Responder')
            %br
            = f.check_box :rescue, {:checked=>current_user.rescue}
            = f.label(:rescue, 'Light Search & Rescue')
        .personal.col-md-3#user-buildings 
          Certificated Skills - Trade
          .account-box
            = f.check_box :inspector,{:checked=>current_user.inspector}
            = f.label(:inspector, 'Building Inspector')
            %br
            = f.check_box :carpenter,{:checked=>current_user.carpenter}
            = f.label :carpenter
            %br
            = f.check_box :commercial,{:checked=>current_user.commercial}
            = f.label(:commercial, 'Commercial License')
            %br
            = f.check_box :electrician,{:checked=>current_user.electrician}
            = f.label 'Electrician'
            %br
            = f.check_box :contractor,{:checked=>current_user.contractor}
            = f.label(:contractor, 'General Contractor')
            %br
            = f.check_box :operator,{:checked=>current_user.operator}
            = f.label(:operator, 'Heavy Equipment Operator')
            %br
            = f.check_box :plumber,{:checked=>current_user.plumber}
            = f.label :plumber
            %br
            = f.check_box :engineer,{:checked=>current_user.engineer}
            = f.label(:engineer,'Structural Engineer')
      %br
      .personal#user-resources 
        Resources
        .account-box.row
          .col-md-3
            Facilities
            %br
            = f.check_box :generator, {:checked=>current_user.generator}
            = f.select :generator_q, options_for_select((0..30).map {|i| [i,i] } << ["No limit",nil], current_user.generator_q)
            = f.label(:generator,'Back-up Generator Facility')
            %br
            = f.check_box :kitchen, {:checked=>current_user.kitchen}
            = f.select :kitchen_q, options_for_select((0..30).map {|i| [i,i] } << ["No limit",nil], current_user.kitchen_q)
            = f.label(:kitchen,'Commercial Kitchen')
            %br
            = f.check_box :overnight, {:checked=>current_user.overnight}
            = f.select :overnight_q, options_for_select((0..30).map {|i| [i,i] } << ["No limit",nil], current_user.overnight_q)
            = f.label(:overnight,'Overnight Shelter')
            %br
            = f.check_box :underground, {:checked=>current_user.underground}
            = f.select :underground_q, options_for_select((0..30).map {|i| [i,i] } << ["No limit",nil], current_user.underground_q)
            = f.label(:underground,'Underground Shelter')
            %br
          .col-md-3
            Medical
            %br
            = f.check_box :defibrillation, {:checked=>current_user.defibrillation}
            = f.select :defibrillation_q, options_for_select((0..30).map {|i| [i,i] } << ["No limit",nil], current_user.defibrillation_q)
            = f.label 'Defibrillator'
            %br
            = f.check_box :emergency, {:checked=>current_user.emergency}
            = f.select :emergency_q, options_for_select((0..30).map {|i| [i,i] } << ["No limit",nil], current_user.emergency_q)
            = f.label(:emergency,'Emergency Kit') 
            %br
            = f.check_box :oxygen, {:checked=>current_user.oxygen}
            = f.select :oxygen_q, options_for_select((0..30).map {|i| [i,i] } << ["No limit",nil], current_user.oxygen_q)
            = f.label :oxygen
            %br
            = f.check_box :wheelchair, {:checked=>current_user.wheelchair}
            = f.select :wheelchair_q, options_for_select((0..30).map {|i| [i,i] } << ["No limit",nil], current_user.wheelchair_q)
            = f.label 'Wheelchair'
            %br
          .col-md-3
            Heavy Equipment
            %br
            = f.check_box :backhoe, {:checked=>current_user.backhoe}
            = f.select :backhoe_q, options_for_select((0..30).map {|i| [i,i] } << ["No limit",nil], current_user.backhoe_q)
            = f.label(:backhoe,'Backhoe')
            %br
            = f.check_box :bulldozer, {:checked=>current_user.bulldozer}
            = f.select :bulldozer_q, options_for_select((0..30).map {|i| [i,i] } << ["No limit",nil], current_user.bulldozer_q)
            = f.label :bulldozer
            %br
            = f.check_box :dumptruck, {:checked=>current_user.dumptruck}
            = f.select :dumptruck_q, options_for_select((0..30).map {|i| [i,i] } << ["No limit",nil], current_user.dumptruck_q)
            = f.label(:dumptruck,'Dump Truck')
            %br
            = f.check_box :excavator, {:checked=>current_user.excavator}
            = f.select :excavator_q, options_for_select((0..30).map {|i| [i,i] } << ["No limit",nil], current_user.excavator_q)
            = f.label :excavator
            %br
            = f.check_box :forklift, {:checked=>current_user.forklift}
            = f.select :forklift_q, options_for_select((0..30).map {|i| [i,i] } << ["No limit",nil], current_user.forklift_q)
            = f.label(:forklift, 'Fork Lift')
            %br
            = f.check_box :frontloader, {:checked=>current_user.frontloader}
            = f.select :frontloader_q, options_for_select((0..30).map {|i| [i,i] } << ["No limit",nil], current_user.frontloader_q)
            = f.label(:frontloader, 'Front Loader')
            %br
            = f.check_box :jackhammer, {:checked=>current_user.jackhammer}
            = f.select :jackhammer_q, options_for_select((0..30).map {|i| [i,i] } << ["No limit",nil], current_user.jackhammer_q)
            = f.label(:jackhammer, 'Jack Hammer')
            %br
            = f.check_box :reclaimer, {:checked=>current_user.reclaimer}
            = f.select :reclaimer_q, options_for_select((0..30).map {|i| [i,i] } << ["No limit",nil], current_user.reclaimer_q)
            = f.label :reclaimer
            %br
            = f.check_box :tractor, {:checked=>current_user.tractor}
            = f.select :tractor_q, options_for_select((0..30).map {|i| [i,i] } << ["No limit",nil], current_user.tractor_q)
            = f.label :tractor
            %br
            = f.check_box :trencher, {:checked=>current_user.trencher}
            = f.select :trencher_q, options_for_select((0..30).map {|i| [i,i] } << ["No limit",nil], current_user.trencher_q)
            = f.label :trencher
            %br

          .col-md-3
            Light Equipment
            %br
            = f.check_box :axe, {:checked=>current_user.axe}
            = f.select :axe_q, options_for_select((0..30).map {|i| [i,i] } << ["No limit",nil], current_user.axe_q)
            = f.label :axe
            %br
            = f.check_box :drill, {:checked=>current_user.drill}
            = f.select :drill_q, options_for_select((0..30).map {|i| [i,i] } << ["No limit",nil], current_user.drill_q)
            = f.label :drill
            %br
            / = f.check_box :flashlight, {:checked=>current_user.flashlight}
            / = f.select :flashlight_q, options_for_select((0..30).map {|i| [i,i] } << ["No limit",nil], current_user.flashlight_q)
            / = f.label :flashlight
            / %br
            = f.check_box :fuel, {:checked=>current_user.fuel}
            = f.select :fuel_q, options_for_select((0..30).map {|i| [i,i] } << ["No limit",nil], current_user.fuel_q)
            = f.label :fuel
            %br
            = f.check_box :goggles, {:checked=>current_user.goggles}
            = f.select :goggles_q, options_for_select((0..30).map {|i| [i,i] } << ["No limit",nil], current_user.goggles_q)
            = f.label :goggles
            %br
            = f.check_box :hammer, {:checked=>current_user.hammer}
            = f.select :hammer_q, options_for_select((0..30).map {|i| [i,i] } << ["No limit",nil], current_user.hammer_q)
            = f.label :hammer
            %br
            = f.check_box :shovel, {:checked=>current_user.shovel}
            = f.select :shovel_q, options_for_select((0..30).map {|i| [i,i] } << ["No limit",nil], current_user.shovel_q)
            = f.label :shovel
            %br
        #update
          = f.submit 'UPDATE'