= form_for @user do |f|
  = f.label 'Building Type'
  = f.text_field :building_type
  = f.label 'Certifications'
  = f.text_field :certifications
  = f.label 'Resources'
  = f.text_field :resources
  = f.submit