var geocoder;
var map;


// -------------- FUNCTIONS ------------
function maps() {
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var mapOptions = {
      center: new google.maps.LatLng(37.754307, -122.437772),
      zoom: 12,
      mapTypeId: google.maps.MapTypeId.SATELLITE,
      mapTypeControlOptions: {
        style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
      },
      zoomControlOptions: {
        style: google.maps.ZoomControlStyle.SMALL,
        position: google.maps.ControlPosition.RIGHT_BOTTOM
      },
      panControlOptions: {
        position: google.maps.ControlPosition.RIGHT_BOTTOM
      }
    };

    map = new google.maps.Map(document.getElementById("map"),
        mapOptions);
    
        
        
    // ---------------- KML FILES ---------------- 

    var sf_zipcodes = new google.maps.KmlLayer({
      url: 'https://dl.dropboxusercontent.com/u/22757148/sfzipcodes.kml'
    });
    var low_liq_kml = new google.maps.KmlLayer({
      url: 'https://dl.dropboxusercontent.com/u/22757148/modlowSFLiqui.kml'
    });
    var high_liq_kml = new google.maps.KmlLayer({
      url: 'https://dl.dropboxusercontent.com/u/22757148/vhighhighSFLiqui.kml'
    });
    var neighborhood_kml = new google.maps.KmlLayer({
      url: 'https://maps.google.com/maps/ms?dg=feature&ie=UTF8&authuser=0&msa=0&output=kml&msid=216722849731329970375.0004a2f137271f66502f6'
    });
    var neighborhood_kml2 = new google.maps.KmlLayer({
      url: 'https://maps.google.com/maps/ms?ie=UTF8&hl=en&source=embed&dg=feature&authuser=0&msa=0&output=kml&msid=216722849731329970375.0004a2f13b9644a6edc2f'
    });
    // var cert = new google.maps.KmlLayer({
    //   url: 'https://dl.dropboxusercontent.com/u/22757148/SFCertUsersLayer.kml'
    // });
    var wheelchair = new google.maps.KmlLayer({
      url: 'https://dl.dropboxusercontent.com/u/22757148/SFSkills_Contractor_UserLayer.kml'
    });
    var heavy = new google.maps.KmlLayer({
      url: 'https://dl.dropboxusercontent.com/u/22757148/SFHeavyEquipment_Chainsaw_UsersLayer.kml'
    });

    var defib_kml = new google.maps.KmlLayer({
      url:"https://dl.dropboxusercontent.com/u/22757148/SFResource_Defib_UserLayer.kml",
    });

    var first_aid = new google.maps.KmlLayer({
      url:"https://dl.dropboxusercontent.com/u/22757148/SFSkills_FirstAid_UserLayer.kml",
    });

    var weatherLayer = new google.maps.weather.WeatherLayer({
      temperatureUnits: google.maps.weather.TemperatureUnit.FAHRENHEIT
    });

    var cloudLayer = new google.maps.weather.CloudLayer();
    

    //  ---------------- KML CALLS ---------------- 
   
    weatherLayer.setMap(map);

    cloudLayer.setMap(map);
    
    $('.resource_cert').on('click', function(){
      $(this).toggleClass('active');
      // if($(this).attr('class') == 'resource_links resource_cert active'){
      //   cert.setMap(map);
      // } else {
      //   cert.setMap(null);
      // }
    })
    // $('.resource_wheelchair').on('click', function(){
    //   $(this).toggleClass('active');
    //   if($(this).attr('class') == 'resource_links resource_wheelchair active'){
    //     wheelchair.setMap(map);
    //   } else {
    //     wheelchair.setMap(null);
    //   }
    // })
    // $('.resource_backhoe').on('click', function(){
    //   $(this).toggleClass('active');
    //   if($(this).attr('class') == 'resource_links resource_backhoe active'){
    //     heavy.setMap(map);
    //   } else {
    //     heavy.setMap(null);
    //   }
    // })
    // $('.resource_defib').on('click', function(){
    //   $(this).toggleClass('active');
    //   if($(this).attr('class') == 'resource_links resource_defib active'){
    //     defib_kml.setMap(map);
    //   } else {
    //     defib_kml.setMap(null);
    //   }
    // })
    // $('.resource_first').on('click', function(){
    //   $(this).toggleClass('active');
    //   if($(this).attr('class') == 'resource_links resource_first active'){
    //     first_aid.setMap(map);
    //   } else {
    //     first_aid.setMap(null);
    //   }
    // })
    $('#resiliency').on('click', function(){
      $('.container').hide();
      $('.container2').hide();
      $(this).toggleClass('active');
      console.log($(this).attr('class'))
      if($(this).attr('class') == 'map-buttons active'){
        $('#resilience-container').show();
        map.panTo(new google.maps.LatLng(37.800740, -122.439785));
        map.setZoom(15); 
        sf_zipcodes.setMap(map);
        sf_zipcodes.set('preserveViewport', true);
      } else {
        $('#resilience-container').hide();
        sf_zipcodes.setMap(null);
      }
    })
        
    function checkbox_toggle() {
      $('.checkbox').on('click', function(){

        var check_id = $(this).attr('id')
        $('.container').hide();
        $('.container2').hide();
        if ($('#'+check_id).is(':checked') == false) {
          switch (check_id) {
            
            case 'zip-check':
              sf_zipcodes.setMap(null);
              break;
            case 'neighbor-check':
              neighborhood_kml.setMap(null);
              neighborhood_kml2.setMap(null);
              break;
          
            case 'high_liq':
              low_liq_kml.setMap(null);
              break;
            case 'low_liq':
              high_liq_kml.setMap(null);
              break;
          }
        } else {
          switch (check_id) {

            case 'zip-check':
              sf_zipcodes.setMap(map);
              sf_zipcodes.set('preserveViewport', true);
              break;
            case 'neighbor-check':
              neighborhood_kml.setMap(map);
              neighborhood_kml2.setMap(map);
              break;
            case 'high_liq':
              low_liq_kml.setMap(map);
              // map.panTo(new google.maps.LatLng(37.769884, -122.459793));
              // map.setZoom(12); 
              low_liq_kml.set('preserveViewport', true);
              break;
            case 'low_liq':
              high_liq_kml.setMap(map);
              // map.panTo(new google.maps.LatLng(37.769884, -122.459793));
              // map.setZoom(12); 
              high_liq_kml.set('preserveViewport', true);
 
              break;
          }
        }
      })
    }
    
    data_markers();
    resource_markers()
    user_data()
    checkbox_toggle();
  }
    
    
    google.maps.event.addDomListener(window, 'load', initialize);
    
}

function resource_markers() {
  var icon = "<%= asset_path 'policemarkercolored.png' %>"
  var icon2 = "<%= asset_path 'firemanmarkercolored.png' %>"
  var icon3 = "<%= asset_path 'hospitalmarkercolored.png' %>"
  var bounds = new google.maps.LatLngBounds();

  $.getJSON("/resource", function(json) {
    $.each(json, function(key, data) {
      var contentInfo = ("Type:"+" "+data.station_type+"</br>"+"Address:"+" "+data.street_number+" "+data.street_name+" "+data.street_type)

      
      if (data.station_type == 'Police Station' && data.location == 'SF') {
        var police_marker = new google.maps.Marker({
          position: new google.maps.LatLng(data.lat, data.lng),
          map: map,
          icon: icon,
          title: 'hello'
        });
        police_marker.setMap(null);
        bounds.extend(police_marker.position);

        $('.checkbox').on('click', function(){

          if ($('#sf-police').is(':checked') == true) {
             police_marker.setMap(map);
             map.panTo(new google.maps.LatLng(37.769884, -122.459793));
             map.setZoom(12); 
          } else {

            police_marker.setMap(null);
          }
          var infowindow = new google.maps.InfoWindow({
              content: contentInfo
          });
          google.maps.event.addListener(police_marker, 'click', function() {
            infowindow.open(map,police_marker);
          });
        });
        
      } else if (data.station_type == 'Fire Station' && data.location == 'SF'){
        var fire_marker = new google.maps.Marker({
          position: new google.maps.LatLng(data.lat, data.lng),
          map: map,
          icon: icon2,
          title: 'hello'
        });
        fire_marker.setMap(null);
        bounds.extend(fire_marker.position);


        $('.checkbox').on('click', function(){

          if ($('#sf-fire').is(':checked') == true) {
             fire_marker.setMap(map);
             map.panTo(new google.maps.LatLng(37.769884, -122.459793));
             map.setZoom(12); 
          } else {

            fire_marker.setMap(null);
          }
          var infowindow = new google.maps.InfoWindow({
              content: contentInfo
          });
          google.maps.event.addListener(fire_marker, 'click', function() {
            infowindow.open(map,fire_marker);
          });
        });
        
      } else if (data.station_type == 'Hospital' && data.location == 'SF') {
        var hosp_marker = new google.maps.Marker({
          position: new google.maps.LatLng(data.lat, data.lng),
          map: map,
          icon: icon3,
          title: 'hello'
        });
        hosp_marker.setMap(null);
        // bounds.extend(hosp_marker.position);

        $('.checkbox').on('click', function(){

          if ($('#sf-hosp').is(':checked') == true) {
             hosp_marker.setMap(map);
            map.panTo(new google.maps.LatLng(37.769884, -122.459793));
            map.setZoom(12); 
          } else {

            hosp_marker.setMap(null);
          }
          var infowindow = new google.maps.InfoWindow({
              content: contentInfo
          });
          google.maps.event.addListener(hosp_marker, 'click', function() {
            infowindow.open(map,hosp_marker);
          });
        });

      }
      
    })
  })
}


function user_data() {
  var bounds = new google.maps.LatLngBounds();
  var icon;

  $.getJSON("/users", function(json) {
    $.each(json, function(key, data) {
      console.log(data)
      // console.log($('.name').val())
      var contentInfo = ("Name:"+" "+data.name+"</br>"+"Address:"+" "+data.address+"</br>"+"<div style='color:blue;'>Contact this owner</div>")
      // if (data.name == user) {
      //   icon = "<%= asset_path 'me.png' %>"
      // } else 
      //  if (data.school == true) {
      //   icon = "<%= asset_path 'SchoolIcon.png' %>"
      // } else if (data.church == true) {
      //   icon = "<%= asset_path 'churchicon.png' %>"
      // }else {
      //   icon = "<%= asset_path 'person.png' %>"
      // }
      // console.log($('.resource_links'))
      icon = "<%= asset_path 'person.png' %>"
      $('.resource_links').on('click', function(){
        // console.log($(this).attr('class').split(' ')[1].split('_')[1])
        r_name = $(this).attr('class').split(' ')[1].split('_')[1]
        console.log(data.cert)
        var icon2
        // if (data.r_name == true) {
          switch(r_name) {
            case 'wheelchair':
              data.wheel_chair == true ? icon2 = "<%= asset_path 'wheel.png' %>" : icon2 = "<%= asset_path 'person.png' %>"
              break;
            case 'cert':
              data.cert == true ? icon2 = "<%= asset_path 'cert.png' %>" : icon2 = "<%= asset_path 'person.png' %>"
              break;
            case 'defib':
              data.defibrillation == true ? icon2 = "<%= asset_path 'medical.png' %>" : icon2 = "<%= asset_path 'person.png' %>"
              break;
            case 'first':
              data.first_aid == true ? icon2 = "<%= asset_path 'medical.png' %>" : icon2 = "<%= asset_path 'person.png' %>"
              break;
            case 'backhoe':
              data.back_hoe == true ? icon2 = "<%= asset_path 'greaicon.png' %>" : icon2 = "<%= asset_path 'person.png' %>"
              break;
          }
           var marker = new google.maps.Marker({
              position: new google.maps.LatLng(data.latitude, data.longitude),
              map: map,
              icon: icon2,
              title: 'hello'
            });
        // } else {
          // icon = "<%= asset_path 'person.png' %>"
        // }
      })
      // 
      //   console.log(icon)
       // $('.resource_cert').on('click', function() {
       //    if (data.cert == true) {
       //      icon2 = "<%= asset_path 'cert.png' %>"
       //       var marker = new google.maps.Marker({
       //        position: new google.maps.LatLng(data.latitude, data.longitude),
       //        map: map,
       //        icon: icon2,
       //        title: 'hello'
       //      });
       //    }
       //  })
     

      

      // $('.name').on('hover', function(){
      //   if($(this).text().trim() == data.name) {
      //     icon = "<%= asset_path 'me.png' %>"
      //   }
      // })

      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(data.latitude, data.longitude),
        map: map,
        icon: icon,
        title: 'hello'
      });
      marker.setMap(null);

      

      bounds.extend(marker.position);
      $('#community').on('click', function(){
         if ($(this).attr('class') == 'map-buttons active') {
          $('#users').show();
          marker.setMap(map);
          map.fitBounds(bounds);
          
        } else {
          $('#users').hide();
          marker.setMap(null);
        }
        var infowindow = new google.maps.InfoWindow({
          content: contentInfo
        });
        google.maps.event.addListener(marker, 'click', function() {
          infowindow.open(map,marker);
        });
      });

    });
  })
}

function data_markers() {
  var icon = "<%= asset_path 'cooling.png' %>"
  var icon2 = "<%= asset_path 'person.png' %>"
  var bounds = new google.maps.LatLngBounds();
  
  $.getJSON("/search?utf8=✓&search="+$('#search').val()+"&x=8&y=8", function(json) {
    
    $.each(json, function(key, data) {
      if (data.state == 'DC'){
        console.log('dc')
        var contentInfo = ("Name:"+" "+data.name+"</br>"+"Address:"+" "+data.address+"</br>"+"Phone:"+" "+data.phone+"</br>"+"Cooling Center Type:"+" "+data.center_type)
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(data.latitude, data.longitude),
          map: map,
          icon: icon
        });

        bounds.extend(marker.position);

        if ($('#search').val().length === 0) {
          marker.setMap(null);
        } else {
          marker.setMap(map);
        // map.panTo(marker, (38.898528, -77.031564));
        // map.setZoom(12); 
          map.fitBounds(bounds);
        }
        
        var infowindow = new google.maps.InfoWindow({
            content: contentInfo
        });
        google.maps.event.addListener(marker, 'click', function() {
          infowindow.open(map,marker);
        });
      } else {
        var contentInfo = ("Name:"+" "+data.name+"</br>"+"Address:"+" "+data.address) 
            
            
          geocoder.geocode( { 'address': data.address}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {

              map.setCenter(results[0].geometry.location);
              var marker = new google.maps.Marker({
                  map: map,
                  position: results[0].geometry.location,
                  icon: icon2
              });
              var infowindow = new google.maps.InfoWindow({
                  content: contentInfo
              });
              if ($('#search').val().length === 0) {
                marker.setMap(null);
              } else {
                $('#sf').children().children().addClass('nav_toggle_red')
                $('#resources').hide();
                $('#roads').hide();
                $('#hazard').hide();
                $('#dc-resources').hide();
                $('#busi').show();
                $('#neighbor').show();
                $('#community').show();
                $('#sf-eh').show();
                $('#disaster').show();
                map.panTo(new google.maps.LatLng(37.769884, -122.459793));
                map.setZoom(12);
                google.maps.event.addListener(marker, 'click', function() {
                  infowindow.open(map,marker);
                });
              }
              
            } else {
              // alert('Geocode was not successful for the following reason: ' + status);
            }
          });
        // })
        
      }
    }) 
  })
  // } 
}

function button_clicks() {

  $('#prepare').on('click', function(){
    $('.container').hide();
    $('.container2').hide();
    $('#prepare-container').show();
  })
  
  $('#advanced-search').on('click', function(){
    $('.container').hide();
    $('.container2').hide();
    $('#advanced-container').show();
  })
  $('#recovery').on('click', function(){
    $('.container').hide();
    $('.container2').hide();
    $('#recovery-container').show();
  })
  $('#myaccount').on('click', function(){
    $('.container').hide();
    $('.container2').hide();
    $('#account-container').show();
  })
}




//  ----------- ON DOCUMENT READY --------------
$(function() {

  // if (user) {
  //   console.log(user)
  // } else {
  //   console.log('no sessions')
  // }


  $('.container').hide();
  $('.close').on('click', function() {
    $('.container').css('display', 'none');
    $('.container2').css('display', 'none');
  })
  maps();
  button_clicks();

  $('#community').on('click', function() {
    $(this).toggleClass('active');
  })
});