var geocoder;
var map;


// -------------- FUNCTIONS ------------
function maps() {
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var mapOptions = {
      center: new google.maps.LatLng(37.754307, -122.437772),
      zoom: 12,
      mapTypeId: google.maps.MapTypeId.SATELLITE,
      mapTypeControlOptions: {
        style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
      },
      zoomControlOptions: {
        style: google.maps.ZoomControlStyle.SMALL,
        position: google.maps.ControlPosition.RIGHT_BOTTOM
      },
      panControlOptions: {
        position: google.maps.ControlPosition.RIGHT_BOTTOM
      }
    };

    map = new google.maps.Map(document.getElementById("map"),
        mapOptions);
    
        
        
    // ---------------- KML FILES ---------------- 

    var sf_zipcodes = new google.maps.KmlLayer({
      url: 'https://dl.dropboxusercontent.com/u/22757148/sfzipcodes.kml'
    });
    var low_liq_kml = new google.maps.KmlLayer({
      url: 'https://dl.dropboxusercontent.com/u/22757148/modlowSFLiqui.kml'
    });
    var high_liq_kml = new google.maps.KmlLayer({
      url: 'https://dl.dropboxusercontent.com/u/22757148/vhighhighSFLiqui.kml'
    });
    var neighborhood_kml = new google.maps.KmlLayer({
      url: 'https://maps.google.com/maps/ms?dg=feature&ie=UTF8&authuser=0&msa=0&output=kml&msid=216722849731329970375.0004a2f137271f66502f6'
    });
    var neighborhood_kml2 = new google.maps.KmlLayer({
      url: 'https://maps.google.com/maps/ms?ie=UTF8&hl=en&source=embed&dg=feature&authuser=0&msa=0&output=kml&msid=216722849731329970375.0004a2f13b9644a6edc2f'
    });
    var density = new google.maps.KmlLayer({
      url: 'https://dl.dropboxusercontent.com/u/22757148/SF_Population_Density.kml'
    });
    var supervisor = new google.maps.KmlLayer({
      url: 'https://dl.dropboxusercontent.com/u/22757148/Supervisor_Districts.kml'
    });
   

    var weatherLayer = new google.maps.weather.WeatherLayer({
      temperatureUnits: google.maps.weather.TemperatureUnit.FAHRENHEIT
    });

    var cloudLayer = new google.maps.weather.CloudLayer();
    

    //  ---------------- KML CALLS ---------------- 
   
    weatherLayer.setMap(map);

    cloudLayer.setMap(map);
    
    $('.resource_cert').on('click', function(){
      $(this).toggleClass('active');
    })
    
    $('#resiliency').on('click', function(){
      $('.container').hide();
      $('.container2').hide();
      $(this).toggleClass('active');
      console.log($(this).attr('class'))
      if($(this).attr('class') == 'map-buttons active'){
        $('#resilience-container').show();
        map.panTo(new google.maps.LatLng(37.800740, -122.439785));
        map.setZoom(15); 
        sf_zipcodes.setMap(map);
        sf_zipcodes.set('preserveViewport', true);
      } else {
        $('#resilience-container').hide();
        sf_zipcodes.setMap(null);
      }
    })
        
    function checkbox_toggle() {
      $('.checkbox').on('click', function(){

        var check_id = $(this).attr('id')
        $('.container').hide();
        $('.container2').hide();
        if ($('#'+check_id).is(':checked') == false) {
          switch (check_id) {
            case 'zip-check':
              sf_zipcodes.setMap(null);
              break;
            case 'neighbor-check':
              neighborhood_kml.setMap(null);
              neighborhood_kml2.setMap(null);
              break;
            case 'high_liq':
              low_liq_kml.setMap(null);
              break;
            case 'low_liq':
              high_liq_kml.setMap(null);
              break;
            case 'super-check':
              supervisor.setMap(null);
              break;
            case 'density-check':
              density.setMap(null);
              break;
          }
        } else {
          switch (check_id) {
            case 'zip-check':
              sf_zipcodes.setMap(map);
              sf_zipcodes.set('preserveViewport', true);
              break;
            case 'neighbor-check':
              neighborhood_kml.setMap(map);
              neighborhood_kml2.setMap(map);
              break;
            case 'high_liq':
              low_liq_kml.setMap(map);
              // map.panTo(new google.maps.LatLng(37.769884, -122.459793));
              // map.setZoom(12); 
              low_liq_kml.set('preserveViewport', true);
              break;
            case 'low_liq':
              high_liq_kml.setMap(map);
              // map.panTo(new google.maps.LatLng(37.769884, -122.459793));
              // map.setZoom(12); 
              high_liq_kml.set('preserveViewport', true);
              break;
            case 'super-check':
              supervisor.setMap(map);
              supervisor.set('preserveViewport', true);
              break;
            case 'density-check':
              density.setMap(map);
              density.set('preserveViewport', true);
              break;
          }
        }
      })
    }
    
    data_markers();
    resource_markers()
    user_data()
    checkbox_toggle();
  }
    
    
    google.maps.event.addDomListener(window, 'load', initialize);
    
}

function resource_markers() {
  var icon = "<%= asset_path 'policemarkercolored.png' %>"
  var icon2 = "<%= asset_path 'firemanmarkercolored.png' %>"
  var icon3 = "<%= asset_path 'hospitalmarkercolored.png' %>"
  var bounds = new google.maps.LatLngBounds();

  $.getJSON("/resource", function(json) {
    $.each(json, function(key, data) {
      var contentInfo = ("Type:"+" "+data.station_type+"</br>"+"Address:"+" "+data.street_number+" "+data.street_name+" "+data.street_type)

      
      if (data.station_type == 'Police Station' && data.location == 'SF') {
        var police_marker = new google.maps.Marker({
          position: new google.maps.LatLng(data.lat, data.lng),
          map: map,
          icon: icon,
          title: 'hello'
        });
        police_marker.setMap(null);
        bounds.extend(police_marker.position);

        $('.checkbox').on('click', function(){

          if ($('#sf-police').is(':checked') == true) {
             police_marker.setMap(map);
             map.panTo(new google.maps.LatLng(37.769884, -122.459793));
             map.setZoom(12); 
          } else {

            police_marker.setMap(null);
          }
          var infowindow = new google.maps.InfoWindow({
              content: contentInfo
          });
          google.maps.event.addListener(police_marker, 'click', function() {
            infowindow.open(map,police_marker);
          });
        });
        
      } else if (data.station_type == 'Fire Station' && data.location == 'SF'){
        var fire_marker = new google.maps.Marker({
          position: new google.maps.LatLng(data.lat, data.lng),
          map: map,
          icon: icon2,
          title: 'hello'
        });
        fire_marker.setMap(null);
        bounds.extend(fire_marker.position);


        $('.checkbox').on('click', function(){

          if ($('#sf-fire').is(':checked') == true) {
             fire_marker.setMap(map);
             map.panTo(new google.maps.LatLng(37.769884, -122.459793));
             map.setZoom(12); 
          } else {

            fire_marker.setMap(null);
          }
          var infowindow = new google.maps.InfoWindow({
              content: contentInfo
          });
          google.maps.event.addListener(fire_marker, 'click', function() {
            infowindow.open(map,fire_marker);
          });
        });
        
      } else if (data.station_type == 'Hospital' && data.location == 'SF') {
        var hosp_marker = new google.maps.Marker({
          position: new google.maps.LatLng(data.lat, data.lng),
          map: map,
          icon: icon3,
          title: 'hello'
        });
        hosp_marker.setMap(null);
        // bounds.extend(hosp_marker.position);

        $('.checkbox').on('click', function(){

          if ($('#sf-hosp').is(':checked') == true) {
             hosp_marker.setMap(map);
            map.panTo(new google.maps.LatLng(37.769884, -122.459793));
            map.setZoom(12); 
          } else {

            hosp_marker.setMap(null);
          }
          var infowindow = new google.maps.InfoWindow({
              content: contentInfo
          });
          google.maps.event.addListener(hosp_marker, 'click', function() {
            infowindow.open(map,hosp_marker);
          });
        });

      }
      
    })
  })
}


function user_data() {
  var bounds = new google.maps.LatLngBounds();
  var icon;

  $.getJSON("/users", function(json) {
    $.each(json, function(key, data) {

      var contentInfo = ("Name:"+" "+data.name+"</br>"+"Address:"+" "+data.address+"</br>"+"<div style='color:blue;'>Contact this owner</div>")
      // if (data.name == user) {
        // icon = "<%= asset_path 'me.png' %>"
      // } else 
      if (data.school == true) {
        icon = "<%= asset_path 'SchoolIcon.png' %>"
      } else if (data.church == true) {
        icon = "<%= asset_path 'churchicon.png' %>"
      }else {
        icon = "<%= asset_path 'person.png' %>"
      }

       var marker = new google.maps.Marker({
        position: new google.maps.LatLng(data.latitude, data.longitude),
        map: map,
        icon: icon,
        title: 'hello'
      });

      $('.resource_links').on('click', function(){
        r_name = $(this).attr('class').split(' ')[1].split('_')[1]
          switch(r_name) {
            case 'wheelchair':
              if(data.wheel_chair == true) {marker.setIcon("<%= asset_path 'wheelchair.png' %>")}
              break;
            case 'cert':
              if(data.cert == true) {marker.setIcon("<%= asset_path 'cert2.png' %>")}
              break;
            case 'nert':
              if(data.nert == true) {marker.setIcon("<%= asset_path 'nert.png' %>")}
              break;
            case 'defib':
              if(data.defibrillation == true) {marker.setIcon("<%= asset_path 'defib2.png' %>")}
              break;
            case 'first':
              if(data.first_aid == true) {marker.setIcon("<%= asset_path 'medical.png' %>")}
              break;
            case 'backhoe':
              if(data.back_hoe == true) {marker.setIcon("<%= asset_path 'greaicon.png' %>")}
              break;
            case 'hammer':
              if(data.hammer == true) {marker.setIcon("<%= asset_path 'hammer.png' %>")}
              break;
            case 'fuel':
              if(data.fuel == true) {marker.setIcon("<%= asset_path 'fuel.png' %>")}
              break;
            case 'shovel':
              if(data.shovel == true) {marker.setIcon("<%= asset_path 'shovel.png' %>")}
              break;
            case 'kitchen':
              if(data.kitchen == true) {marker.setIcon("<%= asset_path 'kitchen.png' %>")}
              break;
            case 'electrician':
              if(data.electrician == true) {marker.setIcon("<%= asset_path 'electrician.png' %>")}
              break;
            case 'generator':
              if(data.power_generator == true) {marker.setIcon("<%= asset_path 'generator.png' %>")}
              break;
            case 'overnight':
              if(data.overnight_shelter == true) {marker.setIcon("<%= asset_path 'shelter2.png' %>")}
              break;
            case 'underground':
              if(data.underground_shelter == true) {marker.setIcon("<%= asset_path 'shelter.png' %>")}
              break;
          }
      })

     

      
      $('.name').mouseover(function(){
        var pinIcon = new google.maps.MarkerImage(
          icon,
          new google.maps.Size(42, 68));
        

        if($(this).text().trim() == data.name) {
          console.log('change them markers!')
          // marker.setIcon("<%= asset_path 'me.png' %>")
          // marker.setAnimation(google.maps.Animation.BOUNCE);
          marker.setIcon(new google.maps.MarkerImage(
                          icon,
                          null,
                          null,
                          new google.maps.Point(20, 52))
                              )}
      })
      // $('.name').mouseout(function(){
      //   marker.setAnimation(null);
      // })

     
      marker.setMap(null);

      
      bounds.extend(marker.position);
      $('#community').on('click', function(){
         console.log('open mofo')
         if ($(this).attr('class') == 'map-buttons active') {

          $('#users').show();
          marker.setMap(map);
          map.fitBounds(bounds);
        } else {
          $('#users').hide();
          marker.setMap(null);
        }
        var infowindow = new google.maps.InfoWindow({
          content: contentInfo
        });
        google.maps.event.addListener(marker, 'click', function() {
          infowindow.open(map,marker);
        });
      });

    });
  })
}

function printpage(){
  window.print()
}

function data_markers() {
  var icon = "<%= asset_path 'cooling.png' %>"
  var icon2 = "<%= asset_path 'person.png' %>"
  var bounds = new google.maps.LatLngBounds();
  
  $.getJSON("/search?utf8=✓&search="+$('#search').val()+"&x=8&y=8", function(json) {
    
    $.each(json, function(key, data) {
      if (data.state == 'DC'){
        console.log('dc')
        var contentInfo = ("Name:"+" "+data.name+"</br>"+"Address:"+" "+data.address+"</br>"+"Phone:"+" "+data.phone+"</br>"+"Cooling Center Type:"+" "+data.center_type)
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(data.latitude, data.longitude),
          map: map,
          icon: icon
        });

        bounds.extend(marker.position);

        if ($('#search').val().length === 0) {
          marker.setMap(null);
        } else {
          marker.setMap(map);
        // map.panTo(marker, (38.898528, -77.031564));
        // map.setZoom(12); 
          map.fitBounds(bounds);
        }
        
        var infowindow = new google.maps.InfoWindow({
            content: contentInfo
        });
        google.maps.event.addListener(marker, 'click', function() {
          infowindow.open(map,marker);
        });
      } else {
        var contentInfo = ("Name:"+" "+data.name+"</br>"+"Address:"+" "+data.address) 
            
            
          geocoder.geocode( { 'address': data.address}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {

              map.setCenter(results[0].geometry.location);
              var marker = new google.maps.Marker({
                  map: map,
                  position: results[0].geometry.location,
                  icon: icon2
              });
              var infowindow = new google.maps.InfoWindow({
                  content: contentInfo
              });
              if ($('#search').val().length === 0) {
                marker.setMap(null);
              } else {
                $('#sf').children().children().addClass('nav_toggle_red')
                $('#resources').hide();
                $('#roads').hide();
                $('#hazard').hide();
                $('#dc-resources').hide();
                $('#busi').show();
                $('#neighbor').show();
                $('#community').show();
                $('#sf-eh').show();
                $('#disaster').show();
                map.panTo(new google.maps.LatLng(37.769884, -122.459793));
                map.setZoom(12);
                google.maps.event.addListener(marker, 'click', function() {
                  infowindow.open(map,marker);
                });
              }
              
            } else {
              // alert('Geocode was not successful for the following reason: ' + status);
            }
          });
        // })
        
      }
    }) 
  })
  // } 
}

function button_clicks() {

  $('#prepare').on('click', function(){
    $('.container').hide();
    $('.container2').hide();
    $('#prepare-container').show();
  })
    
  $('#advanced-search').on('click', function(){
    $('.container').hide();
    $('.container2').hide();
    $('#advanced-container').show();
  })
  $('#recovery').on('click', function(){
    $('.container').hide();
    $('.container2').hide();
    $('#recovery-container').show();
  })
  $('#myaccount').on('click', function(){
    $('.container').hide();
    $('.container2').hide();
    $('#account-container').show();
  })
  $('#login').on('click', function(){
    $('.container').hide();
    $('.container2').hide();
    $('#login-container').show();
  })
  // $('.contact').on('click', function(){
  //   $('.container').hide();
  //   $('.container2').hide();
  //   $('#contact-container').show();
  // })

}




//  ----------- ON DOCUMENT READY --------------
$(function() {

  // if (user) {
  //   console.log(user)
  // } else {
  //   console.log('no sessions')
  // }


  $('.container').hide();
  $('.close').on('click', function() {
    $('.container').css('display', 'none');
    $('.container2').css('display', 'none');
  })
  maps();
  button_clicks();

  $('#community').on('click', function() {
    $(this).toggleClass('active');
  })
});