#nav
  %a(href='/')
    =image_tag asset_path('AppaLogo.png'), :id => 'nav-img'
  #upper-nav
    #logo-name 
      DISASTER ASSESSMENT AND ASSISTANCE DASHBOARD
      %span#sf SF
      %span#beta BETA
    %ul#logo-nav
      %li
        - if current_user
          = current_user.email
        - else
          = link_to "BETA Login", "#login", "data-toggle" => "modal", :remote => true
      - if current_user
        %li#myaccount
          %a(href='#') My Account
      %li
        - if current_user
          = link_to "Logout", destroy_user_session_path, :method => :delete
        - else
          = link_to "Sign up", "#sign_up", "data-toggle" => "modal", :remote => true, :id => 'signup'
      %li
        - if current_user && current_user.admin?
          = link_to "Alert", "#breakingnews", "data-toggle" => "modal", :remote => true
          = link_to "Admin", '/admin'
  %ul#subnav
    %li.login#prepare
      %a(href='#')
        .map-buttons Prepare for a Disaster
    %li.login#print
      =image_tag asset_path("print.png"), id: 'print'
    %li.login.ticker
      %span#breaking ALERT
      .ticker-container
        %ul.ticker-text
          %li This is a customizable alert ticker
    %li
      #google_translate_element
      :javascript
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
        }
      %script{:src => "//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit", :type => "text/javascript"}
    %li.login#residential
      = link_to "Residential Form", '/form-residential'
    %li.login#residential
      = link_to "Business Form", '/form-business'
      
= render "home/login_modal"
= render "home/sign_up_modal"
= render "home/edit_modal"
= render "home/breaking"