%h3
  Results HELLO I LOVE YOU WONT YOU TELL ME YOUR NAME
= p 'c============+++++++++++++++++======================-------------------------'
/ .height
  / - if @results != [ ]
= p 'c============+++++++++++++++++======================-------------------------'
- @results.each do |r|
  = p 'check dis out vvvvv'
  = p r.name
  = r.name
  = r.address
  = r.city
  = r.state
  = r.center_type