/ = content_tag(:div, flash[:error], :id => "flash_error") if flash[:error]
/ = content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice]
/ = content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert]

= render 'layouts/header'
= render 'layouts/nav'

      
#page-body
  #map 

  = yield

  / # = render 'layouts/contact'
  .container#twitter-container
    =image_tag asset_path('x.png'), :class => 'close'
    = render 'shared/tweets'
  .container#prepare-container
    =image_tag asset_path('x.png'), :class => 'close'
    = render 'layouts/prepare'
  .container#login-container
    =image_tag asset_path('x.png'), :class => 'close'
    = render 'home/login_modal'
  .container#signin-container
    =image_tag asset_path('x.png'), :class => 'close'
    = render 'home/sign_up_modal'
  .container#account-container
    =image_tag asset_path('x.png'), :class => 'close'
    = render 'users/personal'
  .container#users
    =image_tag asset_path('x.png'), :class => 'close'
    = render 'users/all'
  .container#resilience-container
    =image_tag asset_path('x.png'), :class => 'close'
    = render 'layouts/resiliency'
  .container#print-container
    =image_tag asset_path('x.png'), :class => 'close'
    = render 'layouts/print'
  .container.resiliency-container
    =image_tag asset_path('x.png'), :class => 'close'
    = render 'layouts/resiliency'
  .container#about-container
    =image_tag asset_path('x.png'), :class => 'close'
    = render 'layouts/about'
  .container#incident-container
    =image_tag asset_path('x.png'), :class => 'close'
    = render 'layouts/incidents'
  .container#resource-container
    =image_tag asset_path('x.png'), :class => 'close'
    = render 'layouts/resources'
  .container#asset-container
    =image_tag asset_path('x.png'), :class => 'close'
    = render 'layouts/assets'


  .dropdown
    %a.dropdown-toggle.map-buttons#busi{"data-toggle" => "dropdown"}(href='#')
      San Francisco
      %b.caret
    %ul#menu2.dropdown-menu
      %li
        %input.checkbox#zip-check{type: "checkbox"} Zipcodes
      %li
        %input.checkbox#neighbor-check{type: "checkbox"} Neighborhoods
      %li
        %input.checkbox#density-check{type: "checkbox"} Population Density
      %li
        %input.checkbox#super-check{type: "checkbox"} Supervisor Districts
      - if current_user && current_user.admin?
        %li
          %input.checkbox#incidents{type: "checkbox"} Incidents
        %li
          %input.checkbox#assets{type: "checkbox"} Assets
        %li
          %input.checkbox#resources{type: "checkbox"} Resources
  %a(href='#')
    .map-buttons#resiliency Resiliency
  %a(href='#')
    #traffic Traffic
  .dropdown
    %a.dropdown-toggle.map-buttons#neighbor{"data-toggle" => "dropdown"}(href='#')
      Resources
      %b.caret
    %ul#menu3.dropdown-menu
      %li
        %input.checkbox#sf-police{type: "checkbox"} Police Stations
      %li
        %input.checkbox#sf-fire{type: "checkbox"} Fire Stations
      %li
        %input.checkbox#sf-hosp{type: "checkbox"} Medical Facilities
      %li
        %input.checkbox#pharma{type: "checkbox"} Pharmacies
      %li
        %input.checkbox#school{type: "checkbox"} Schools
      %li
        %input.checkbox#child{type: "checkbox"} Child Care
      %li
        %input.checkbox#super{type: "checkbox"} Supermarkets
      %li
        %input.checkbox#gas{type: "checkbox"} Gas Stations
      %li
        %input.checkbox#cooling{type: "checkbox"} Cooling Centers
      %li
        %input.checkbox#faith{type: "checkbox"} Faith Based Organizations
      %li
        %input.checkbox#pickup{type: "checkbox"} Public Transport Evacuation Locations
      %li
        %input.checkbox#twitter{type: "checkbox"} Twitter Feed
      - if current_user && current_user.admin?
        %li
          %input.checkbox#photo{type: "checkbox"} Photos

  %a(href='#')
    .map-buttons#community Community Resources
  .dropdown
    %a.dropdown-toggle.map-buttons#sf-eh{"data-toggle" => "dropdown"}(href='#')
      Environmental Hazards
      %b.caret
    %ul#menu4.dropdown-menu
      %li
        %input.checkbox#liquifaction{type: "checkbox"} Liquifaction Potential
      %li
        %input.checkbox#tsunami_i{type: "checkbox"} Tsunami Inundation
      %li
        %input.checkbox#landslide{type: "checkbox"} Landslide Risk
      %li
        %input.checkbox#extreme_heat{type: "checkbox"} Extreme Heat Vulnerability
      %li
        %input.checkbox#flood_high{type: "checkbox"} Bay Area Flood Risk
      %li
        %input.checkbox#6ft{type: "checkbox"} 6 Ft Sea Level Rise
  .dropdown
    %a.dropdown-toggle.map-buttons#sf-er{"data-toggle" => "dropdown"}(href='#')
      Emergency Resources
      %b.caret
    %ul#menu7.dropdown-menu
      %li
        %input.checkbox#tsunami{type: "checkbox"} Tsunami Evacuation Routes
      %li
        %input.checkbox#priority{type: "checkbox"} Priority Cleared Routes
      %li
        %input.checkbox#test_disaster{type: "checkbox"} Test Disaster
      %li
        %input.checkbox#sandbag{type: "checkbox"} Sandbag Pickup Locations
      %li
        %input.checkbox#evac_routes{type: "checkbox"} Bay Area Evacuation Routes

  %a(href='http://appallicious.com/' target='_blank')
    =image_tag asset_path("appalogo.jpg"), :id => 'appalogo'
  #about
    ABOUT

  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-50908907-3', 'auto');
    ga('send', 'pageview');

  

  / :javascript

  /   var a = $.getJSON('/user_session/user_sign_in', function(data){
  /       console.log(data)
  /   });
    


        
      
    


