/ = devise_error_messages!
= render 'layouts/header'
= render 'layouts/nav'
      
#page-body
  #map 

  / .container#neighbor-container
  /   =image_tag asset_path('x.png'), :class => 'close'
  /   = render 'layouts/neighborhoods'
  / .container#zip-container
  /   =image_tag asset_path('x.png'), :class => 'close'
  /   = render 'layouts/zipcodes'
  .container#prepare-container
    =image_tag asset_path('x.png'), :class => 'close'
    = render 'layouts/prepare'
  .container#advanced-container
    =image_tag asset_path('x.png'), :class => 'close'
    = render 'layouts/advanced'
  .container#recovery-container
    %span.glyphicon.glyphicon-remove
    = render 'layouts/recover'
  .container#account-container
    =image_tag asset_path('x.png'), :class => 'close'
    = render 'users/personal'
  .container#users
    =image_tag asset_path('x.png'), :class => 'close'
    = render 'users/all'
  / .container#results
  /   =image_tag asset_path('x.png'), :class => 'close'
  /   = render 'search/results'
      
      
  / .container#container-prepare
  /   =image_tag asset_path('x.png'), :class => 'close'
  /   %h3 Prepare for a Disaster
  /   %p San Francisco County, California

  / .container#neighborhoodshood-container
  /   =image_tag asset_path('x.png'), :class => 'close'
  /   %h3 Neighborhoods
  /   %p San Francisco County, California
  /   .height
  /     = render 'layouts/neighborhoods'
  / = link_to "Neighborhoods", "/neighborhoods", :remote => true
    

  / %a(href='#')
  /   .map-buttons#neighbor Police and Fire
   
  / %a(href='#')
  /   .map-buttons#disaster SF Zipcodes
  .dropdown
    %a.dropdown-toggle.map-buttons#busi{"data-toggle" => "dropdown"}(href='#')
      San Francisco
      %b.caret
    %ul#menu2.dropdown-menu
      %li
        %input.checkbox#zip-check{type: "checkbox"} Zipcodes
      %li
        %input.checkbox#neighbor-check{type: "checkbox"} Neighborhoods
  %a(href='#')
    .map-buttons#disaster Resiliency
  .dropdown
    %a.dropdown-toggle.map-buttons#neighbor{"data-toggle" => "dropdown"}(href='#')
      Resources
      %b.caret
    %ul#menu3.dropdown-menu
      %li
        %input.checkbox#sf-police{type: "checkbox"} Police
      %li
        %input.checkbox#sf-fire{type: "checkbox"} Fire
      %li
        %input.checkbox#sf-hosp{type: "checkbox"} Hospitals

  .dropdown
    %a.dropdown-toggle.map-buttons#dc-resources{"data-toggle" => "dropdown"}(href='#')
      Resources
      %b.caret
    %ul#menu6.dropdown-menu
      %li
        %input.checkbox#dc-police{type: "checkbox"} Police
      %li
        %input.checkbox#dc-fire{type: "checkbox"} Fire
      %li
        %input.checkbox#dc-hosp{type: "checkbox"} Hospitals
      %li
        %input.checkbox#cooling{type: "checkbox"} Cooling Centers
  / %a(href='#')
  /   .map-buttons#resources DC - Cooling Centers
  %a(href='#')
    .map-buttons#community Community Resources
  .dropdown
    %a.dropdown-toggle.map-buttons#sf-eh{"data-toggle" => "dropdown"}(href='#')
      Environmental Hazards
      %b.caret
    %ul#menu4.dropdown-menu
      %li
        %input.checkbox#high_liq{type: "checkbox"} Low Liquifaction Level
      %li
        %input.checkbox#low_liq{type: "checkbox"} High Liquifaction Level
  .dropdown
    %a.dropdown-toggle.map-buttons#roads{"data-toggle" => "dropdown"}(href='#')
      Environmental Hazards
      %b.caret
    %ul#menu1.dropdown-menu
      %li
        %input.checkbox#high_flood_kml{type: "checkbox"} High Flood Level
      %li
        %input.checkbox#medium_flood_kml{type: "checkbox"} Medium Flood Level
  .dropdown
    %a.dropdown-toggle.map-buttons#hazard{"data-toggle" => "dropdown"}(href='#')
      Washington
      %b.caret
    %ul#menu5.dropdown-menu
      %li
        %input.checkbox#dc-zip{type: "checkbox"} Zipcodes

  / %a(href='#')
  /   .map-buttons#damage Damage
  / %a(href='#')
  /   .map-buttons#hazard DC Zipcodes
  %a(href='http://appallicious.com/')
    =image_tag asset_path("appalogo.jpg"), :id => 'appalogo'

  = yield


        
      
    


