
= render 'layouts/header'
= render 'layouts/nav'
      
#page-body
  #map 

  .container#neighbor-container
    =image_tag asset_path('x.png'), :class => 'close'
    = render 'layouts/neighborhoods'
  .container#prepare-container
    =image_tag asset_path('x.png'), :class => 'close'
    = render 'layouts/prepare'
  .container#advanced-container
    =image_tag asset_path('x.png'), :class => 'close'
    = render 'layouts/advanced'
      
      
  / .container#container-prepare
  /   =image_tag asset_path('x.png'), :class => 'close'
  /   %h3 Prepare for a Disaster
  /   %p San Francisco County, California

  / .container#neighborhoodshood-container
  /   =image_tag asset_path('x.png'), :class => 'close'
  /   %h3 Neighborhoods
  /   %p San Francisco County, California
  /   .height
  /     = render 'layouts/neighborhoods'
  / = link_to "Neighborhoods", "/neighborhoods", :remote => true
    

  %a(href='#')
    .map-buttons#neighbor Neighborhoods 
  .dropdown
    %a.dropdown-toggle.map-buttons#busi{"data-toggle" => "dropdown"}(href='#')
      Businesses
      %b.caret
    %ul#menu2.dropdown-menu
      %li
        %input{type: "checkbox"} example4
      %li
        %input{type: "checkbox"} example5
      %li
        %input{type: "checkbox"} example6
  .dropdown
    %a.dropdown-toggle.map-buttons#disaster{"data-toggle" => "dropdown"}(href='#')
      Disaster Potential
      %b.caret
    %ul#menu1.dropdown-menu
      %li
        %input{type: "checkbox"} example1
      %li
        %input{type: "checkbox"} example2
      %li
        %input{type: "checkbox"} example3
  %a(href='#')
    .map-buttons#resources Resources
  %a(href='#')
    .map-buttons#roads Roads
  %a(href='#')
    .map-buttons#damage Damage
  %a(href='#')
    .map-buttons#hazard Hazards
  %a(href='http://appallicious.com/')
    =image_tag asset_path("appalogo.jpg"), :id => 'appalogo'

  = yield


        
      
    


